<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="jinvestor" class="org.apache.log4j.rolling.RollingFileAppender">
		<rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
			<param name="FileNamePattern" value="logs/jinvestor.%d{yyyy-MM-dd}.gz" />
		</rollingPolicy>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %p %c - %m%n" />
		</layout>
	</appender>
	
	<logger name="org.apache.hadoop">
		<level value="info"/>
	</logger>
	
	<logger name="jinvestor">
		<level value="trace"/>
	</logger>

	<root>
		<priority value="warn" />
		<appender-ref ref="jinvestor" />
	</root>
</log4j:configuration>